body{
    background-color: #f5f6fa;
    width: auto;
    height: auto;
}

h1{
    color:#40739e ;
}
/* Menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9AC0CD;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #487eb0;
  }

div{
    display: inline-block; 
    width: 550px;
    height:fit-content;
    background-color: #9AC0CD;
    color: black;
    padding: 30px;
    margin: 15px;
    border-radius: 10px 30px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container-A{
  width: auto; 
}

#container-img {
    
}

#sobreNos{
    width: 92vw;
    text-align: center;
}

.peixes{
    display: inline-block;
    background-color: #0a3d62;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    width: 330px;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    text-align: justify;
    padding: 30px;
    margin: 20px;
}

/*Formulários*/
#registrar{
  align-content: center;

}

#trabalheConosco{
  margin: 0 auto;
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#registrar{
  margin: 0 auto;
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#login{
  margin: 0 auto;
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Rodapé*/
.rodape{
  text-align:center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: whitesmoke;
  background-color:#9AC0CD;
  position: static;
  top: 600px;
  left: 0px;
  right: 0px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  height: 30px;
}